/* Common styles for both mobile and desktop */
.home-container {
    padding: 50px;
  }
  
  /* Hero Section */
  .hero {
    background-color: #54cee1;
    padding: 20px; /* Reduced padding for mobile */
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;

  }
  
  .hero h1 {
    font-size: 2rem; /* Reduced font size for mobile */
    color: #130a0a;
  }
  
  .hero p {
    font-size: 1rem; /* Reduced font size for mobile */
    color: #777;
  }
  
  /* Features Section */
  .features {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row on mobile */
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .feature {
    text-align: center;
    width: 100%; /* Make features take full width on mobile */
    margin-bottom: 20px;
  }
  
  .feature i {
    font-size: 2rem;
    color: #007bff;
  }
  
  .feature h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #333;
  }
  
  .feature p {
    color: #777;
  }
  
  /* Additional Content Section */
  .additional-content {
    margin-bottom: 20px;
  }
  
  additional-content h2 {
    font-size: 1.5rem; /* Adjust font size for mobile */
    color: #333;
    margin-bottom: 10px;
  }
  
  .additional-content p {
    color: #777;
  }
  
  additional-content ul {
    list-style: disc;
    padding-left: 20px;
    color: #777;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 100%; /* Ensure full width on mobile */
  }
  
  /* Mobile Responsive Styles */
  @media (max-width: 767px) {
    .home-container {
      padding: 10px; /* Further reduce padding for small screens */
    }
  
    .feature {
      width: calc(50% - 10px); /* Two features per row with spacing */
    }
  }
  
  /* Footer */
  /* Add styles for your footer as needed */
  
  .over {
    display:flex;
    flex-direction: row;
  }