/* Footer.css */
.footer {
    background-color: #3333337c;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 130px;
      }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 0.9rem;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Add additional styles as needed for your specific design */
  