/* login.css */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgb(223, 223, 234);
  /* background-color: #e8f1f4; */
  background-image: url("S:\virtualjob\virtualjob\src\assets\images\jobs.jpg");
  
}

form {
  
  background: transparent;
  background-color: rgba(0, 0, 0, 0.201);
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;

}

.email,

label {
  display: block;
  margin-bottom: 10px;
  
}


input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #1cb4eb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  justify-content: center;
}

/* Add more styles as needed */